//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//COLOR
$color-primary: #ffe600;

$color-black:#000;
$color-grey-dark: #777;  

$color-grey-light: rgb(219, 219, 219);  

//RADIO-WORM
$wormDur: 0.4s;
$radioDur: 0.2s;
$timing1: cubic-bezier(0.45,0.05,0.55,0.95);
$timing2: cubic-bezier(0.5,0,0.5,2); 
