.radio-switch{
    display: inline-block; 
    width: 3.5rem;   
    
    &__input{
        display: none; 
        visibility: hidden;   
    }

    &__label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative; //parent de radio button 
    }

    &__button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;  
        position: absolute;
        left: 0;
        top: -.4rem;  

        &::after {
            content: "";
            display: block; //2 premiers éléments obligatoire lors de l'utilisation d'after
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%,);
            background-color: $color-primary; 
            opacity: 0; 
            transition: all .2s; 
        }
    }

    &__input:checked ~ &__label &__button::after{  
    //quand on sélectionne le check de l'input ~ alors  l'aspect after du label change
        opacity: 1; 
    }
}